.ensime*
.idea
.cache*
.classpath
.project
.settings
.externalToolBuilders
.metals
.bsp
.bloop
.vscode

*.js
*.log
*.class
*.*~
\#*
.\#*

*.DS_Store

bin
data
target
out
data
project/target
README.html
metals.sbt
.gradle
build
node_modules
dist
