.capital-guessing {
  display: grid;
  grid-template-columns: 45% [left] 45% [right];
  grid-column-gap: 25px;
  grid-row-gap: 25px;

  .cell {
    margin: 10px;
    border: 2px solid lightgray;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: lightgray;
      font-weight: bold;
    }
  }

  .left-column {
    //grid-column: left;
  }

  .right-column {
//grid-column: right;
  }
}
