$player-a-color: deepskyblue;
$player-b-color: mediumvioletred;

$board-bg-color: #44f;

.complete-4 {
  display: flex;
  justify-content: center;
  margin: 1rem;
  column-gap: 20px;

  &-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 5px;
    background-color: $board-bg-color;
    padding: 20px 20px 40px;
    border: 5px $board-bg-color solid;
    border-radius: 10px;
  }

  &-chip {
    width: 80px;
    height: 80px;
    border: 5px lightslategray solid;
    border-radius: 40px;

    &-a {
      background-color: $player-a-color;
      border: 5px darken($player-a-color, 12) solid;
    }

    &-b {
      background-color: $player-b-color;
      border: 5px darken($player-b-color, 12) solid;
    }

    &-empty {
      background-color: ghostwhite;
    }
  }

  .player-a-color {
    color: $player-a-color;
  }

  .player-b-color {
    color: $player-b-color;
  }
}
