$back-color: lightgreen;
$front-color: white;

.memory {
  display: flex;
  justify-content: center;
  margin: 1rem;

  .memory-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;

    .memory-card {
      // border: 5px red solid;
      // border-radius: 30px;
      width: 100px;
      height: 100px;
      font-size: 32pt;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px lightslategray solid;

      &--open {
        animation: openCard;
        animation-duration: 2s;
      }

      &--closed {
        background-color: $back-color;
      }

      &--removed {
        border: 2px lightgray solid;
      }
    }
  }

}

@keyframes openCard {
  from {
    background-color: $back-color;
    color: $back-color;
  }
  to {
    background-color: $front-color;
    color: black;
  }
}
