.snake-game {

  .board {
    //justify-content: center;
    color: ghostwhite;;

    & > .column {
      background-color: darkcyan;
      padding: 0;
      flex-grow: 0;
    }

    .cell {
      border: 0.5px solid lighten(darkcyan, 20);
      width: 20px;
      height: 20px;
      text-align: center;
    }

    .cell-snake {
      border: none;
      background-color: #4444ff;
    }

    .cell-fruit {
      background-color: green;
    }
  }
}
