small {
  font-size: .675em;
}
.text-align-right {
  text-align: right;
}

.strong {
  font-weight: bold;
}

.columns {
  margin: 0;
}

@import './memory';
@import './complete-4';
@import './capital-guessing';
@import './snake';
@import './notes';
